head,body{
    margin: 0%;
    border: 0%;
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
}

.channel{
    text-align: center;
    background-color: purple;
    Margin:0;
    padding: 2%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
    margin-bottom: 15px;
}

.intro{
    margin-left: 10%;
}
div{
    margin-left: 8%;
    padding: 5px;
}
form{
    display: inline;
    margin-left: 2%;
    border-radius:20px;
}

.placeholder{
    padding: 5px;
    border-radius: 20px;

}
p{
    font-size: larger;
    margin-right:2%;
    display: inline-flex;
}

a{
    margin-left: 30%;
}

